.login__label{
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom:7px;
}

.login__input{
  height: 35px;
  padding: 0 6px;
  width: 100%;
  background: none;
  border: 1px solid wheat;
  margin-bottom:15px;
}

.login__submit-button{
  padding:10px 30px;
  background: wheat;
  margin-top:10px;
}
