.excel-list__root{
  max-width: 1000px;
  margin:0 auto;
  padding-top:80px;
}
.excel-list__name{
  font-family: "Times New Roman", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 65px;
}
