/* You can add global styles to this file, and also import other style files */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html,body{
  height: 100vh;
}
body{
  font-family: Arial;
}
section{
  margin-top: 40px;
  margin-bottom: 40px;
}
button,label{
  border:none;
  font-family: Arial;
  font-size: 14px;
}
.like-a-link{
  color:blue;
}

app-upload-file-item{
  flex-grow: 1;
  max-width: 50%;
}
